.grayFont {
  color: #6A758A;
}

.blueFont {
  color: #3477ED;
}

.currentOrder {
  border: 1px solid #54A8FD !important;
}

.orderTitle {
  position: relative;
  color: #545F76;
  font-size: 16px;
  padding: 2px 25px;
  font-weight: 600;
}

.orderNumber {
  margin-right: 25px;
}

.orderGasName {
  display: inline-block;
  margin-left: 30px;
  margin-bottom: 20px;
}

.orderStatus {
  float: right;
  font-size: 12px;
  padding: 0px 10px;
  font-weight: 400;
}

.orderStatusDot {
  width: 6px;
  height: 6px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 3px;
  margin-top: -3px;
  margin-right: 5px;
}

.orderWeight {
  position: absolute;
  top: 27px;
  left: 86px;
  font-size: 14px;
  color: #0087FE;
}

.orderPrice {
  position: absolute;
  top: 27px;
  left: 148px;
  font-size: 14px;
  color: #cc2020;
}

.orderCustomer {
  position: absolute;
  top: 0px;
  left: 320px;
  font-size: 12px;
  color: #6C6C6C;
  font-weight: 400;
}

.orderSite {
  position: absolute;
  top: 20px;
  left: 320px;
  font-size: 12px;
  color: #6C6C6C;
  font-weight: 400;
}

.upArrow {
  position: absolute;
  top: 20px;
  left: 25px;
}

.upArrow:after {
  content: '';
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid rgb(255, 154, 116);
  position: absolute;
  top: -5px;
  left: 41px;
}

.showMapBtn {
  background-color: rgb(255, 154, 116);
  border-color: rgb(255, 154, 116);
  color: rgb(255, 255, 255);
}

.showMapBtn:hover {
  background-color: rgb(255, 154, 116);
  border-color: rgb(255, 154, 116);
  color: rgb(255, 255, 255);
}

.detailTitle {
  color: #545F76;
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 8px;
}

.yellowTip {
  position: absolute;
  top: 1px;
  left: 115px;
  background-color: #FFE595;
  color: #545F76;
  font-size: 15px;
  padding: 2px 10px;
  border-radius: 4px;
}
