
html, body, #root {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
}

.page-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.toolBar {
  position: absolute;
  top: 0;
  right: 0;
}

.changeList > div {
  display: inline-block;
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.changeList > div > span {
  vertical-align: middle;
  margin-right: 10px;
}

.changeList > div > div {
  vertical-align: middle;
}

/*antd样式覆盖*/
.ant-card {
  border-radius: 4px;
}

/*登录页*/
#special .ant-form-explain, .ant-form-extra {
  margin-top: 20px;
  font-size: 16px;
  color: #ff4241;
}
